<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realtime Chart with Vue and Pusher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <div class="app">
        <div class="container">
            <div class="row">
                <h2 class="title">Realtime Chart with Vue and Pusher</h2>
                <h3 class="subtitle">Expense and Income Tracker</h3>
                <line-chart :chart-data="datacollection"></line-chart>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="form" @submit.prevent="addExpenses">
                    <h4>Add New Entry</h4>
                    <div class="form-group">
                        <label>Expenses</label>
                        <input class="form-control" placeholder="How much did you spend today?" type="number" v-model="expenseamount" required>
                    </div>
                    <div class="form-group">
                        <label>Income</label>
                        <input class="form-control" placeholder="How much did you earn today?" type="number" v-model="incomeamount" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Add New Entry</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
    <script src="https://unpkg.com/vue-chartjs@2.5.7-rc3/dist/vue-chartjs.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
        const socket = new Pusher('3e6b0e8f2442b34330b7', {
            cluster: 'eu',
            encrypted: true
        });
        const channel = socket.subscribe('finance');

        Vue.component('line-chart', {
            extends: VueChartJs.Line,
            mixins: [VueChartJs.mixins.reactiveProp],
            data: function () {
                return {
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                },
                                gridLines: {
                                    display: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                },
                                gridLines: {
                                    display: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: true,
                            mode: 'single',
                            callbacks: {
                                label: function(tooltipItems, data) {
                                    return '$' + tooltipItems.yLabel;
                                }
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        height: 300
                    }
                }
            },
            mounted () {
                // this.chartData is created in the mixin
                this.renderChart(this.chartData)
            }
        })

        var vm = new Vue({
            el: '.app',
            data: function () {
                return {
                    expense: '',
                    income: '',
                    date: '',
                    expenseamount: '',
                    incomeamount: '',
                    datacollection: {},
                }
            },
            created: function () {
               this.fetchData()
            },
            mounted () {
                this.fillData()
                //console.log(this.fillData)
//                setInterval(() => {
//                    this.fillData()// |this| properly refers to the person object
//                }, 4000);
            },
            methods: {
                fillData: function() {
                    let self = this
                    axios.get('http://localhost:3000/finances')
                        .then(function(response) {
                            let _results = response.data.data

                            let dateresult = _results.map(a => a.date);
                            let expenseresult = _results.map(a => a.expense);
                            let incomeresult = _results.map(a => a.income);

                            self.expense = expenseresult
                            self.income = incomeresult
                            self.date = dateresult


                            self.datacollection = {
                                labels: self.date,
                                datasets: [
                                    {
                                        label: 'Expense Charts',
                                        backgroundColor: '#f87979',
                                        data: self.expense
                                    },
                                    {
                                        label: 'Income Charts',
                                        backgroundColor: '#5bf8bf',
                                        data: self.income
                                    }
                                ]
                            }
                        })
                },
                addExpenses: function () {
                    let self = this
                    let _expense = self.expenseamount
                    let _income = self.incomeamount
                    let _today = moment().format('MMMM Do YYYY')

                    axios.post('http://localhost:3000/addexpense', {
                        expense: _expense,
                        income: _income,
                        date: _today
                    })
                        .then(response => {
                            self.expenseamount = ''
                            self.incomeamount = ''
                            channel.bind('new-expense', function(data) {
                                let _results = data.newExpense.data

                                let dateresult = _results.map(a => a.date);
                                let expenseresult = _results.map(a => a.expense);
                                let incomeresult = _results.map(a => a.income);

                                self.expense = expenseresult
                                self.income = incomeresult
                                self.date = dateresult


                                self.datacollection = {
                                    labels: self.date,
                                    datasets: [
                                        {
                                            label: 'Expense Charts',
                                            backgroundColor: '#f87979',
                                            data: self.expense
                                        },
                                        {
                                            label: 'Income Charts',
                                            backgroundColor: '#5bf8bf',
                                            data: self.income
                                        }
                                    ]
                                }
                            });
                        })
                },
                fetchData: function () {
                    channel.bind('new-expense', function(data) {
                        let _results = data.newExpense.data
                        let dateresult = _results.map(a => a.date);
                        let expenseresult = _results.map(a => a.expense);
                        let incomeresult = _results.map(a => a.income);

                        self.expense = expenseresult
                        self.income = incomeresult
                        self.date = dateresult


                        self.datacollection = {
                            labels: self.date,
                            datasets: [
                                {
                                    label: 'Expense Charts',
                                    backgroundColor: '#f87979',
                                    data: self.expense
                                },
                                {
                                    label: 'Income Charts',
                                    backgroundColor: '#5bf8bf',
                                    data: self.income
                                }
                            ]
                        }
                    });
                }
            }
        })
    </script>
</body>
</html>
